{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["airbnb", "plugin:prettier/recommended"],
    "plugins": ["import", "react-hooks"],
    "rules": {
        "react/jsx-indent": ["error", 4],
        "no-console": "off",
        "react/jsx-filename-extension": "off",
        "comma-dangle": "warn",
        "import/no-unresolved": "off"
    }
}
